*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
   
}
.container{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  
  padding: 180px 0;
  background-color: rgb(36,36,50);
  display: flex;
  justify-content: center;
}
form{
  padding: 20px 30px;
  background-color: white;
  margin:0 10px ;
  text-align: center;
  border-radius:6px;
}
.ifnputs{
  width: 340px;
}
form h4{
  color: #202221;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: left;
}
.inputs input{
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  margin-top:15px ;
  padding: 4px 10px;
  background-color: #D4D8EB;
  border-radius: 5px;
  text-transform: capitalize;
}
form button{
  border: none;
  outline: none;
  padding: 8px 30px;
  border-radius: 30px;
  margin-top: 20px;
  color:white;
  background-color: #B92929;
  font-weight: bolder;
  position: relative;
  transition: 0.4s;
}
form button:active{
  top: 2px;
  background-color: #10629A;
}
form button:hover{
  background-color: darkgreen;
}
#dettails{
  height: 100px;
  text-align: top;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  outline: none;
  border:none;
  background-color: #D4D8EB;
  border-radius: 5px;
  text-transform: capitalize;
}
.alert-box{
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #052351;
  position: absolute ;
  color: white;
  transition: 0.4s ease-in-out;
  font-size: 20px;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   animation:  fadein 0.6s linear ;
}
.hide{
  display: none;
}
.out{
  animation: fadeout 0.4s linear;
}
.alert-box button{
  border:none;
  padding: 4px 15px;
  text-transform: capitalize;
  margin-top:20px;
  font-size: 15px;border-radius:6px;
  box-shadow: 0 0 2px 1px gray;
  cursor: pointer;
  border-radius: px;
}
.alert-box button:active{
  position:relative;
  transform: translate(4%,4%);
}
@keyframes fadein{
  from{top: 0}
  to{top:50%}
}
@keyframes fadeout{
  from{top: 50%}
  to{top:100%}
}
@media(min-width:1000px){
  
.inputs{max-width: 700px;
}
  .alert-box{
  max-width: 700px;
    font-size:25px;
  }
}
